/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
    margin-left: -8px;
    margin-right: -8px;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: "";
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: auto;
    min-height: 1px;
}

[dir="rtl"] .slick-slide {
    float: right;
}

// .slick-slide img {
//   display: block;
// }
.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


/* Slider */

.slick-loading .slick-list {
    background: #fff;
}


/* Arrows */

.slick-prev,
.slick-next {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 48%;
    display: block;
    width: 22px;
    height: 23px;
    padding: 0;
    -webkit-transform: translate(0, -48%);
    -ms-transform: translate(0, -48%);
    transform: translate(0, -48%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent;
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
    opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 1;
}

.slick-prev:before,
.slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    opacity: 1;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    right: 60px;
    top: -30px;
    bottom: auto;
}

[dir="rtl"] .slick-prev {
    right: -18px;
    left: auto;
}

.slick-prev:before {
    content: url("../../images/slick-fonts/left.svg");
}

[dir="rtl"] .slick-prev:before {
    content: url("../../images/slick-fonts/right.svg");
}

.slick-next {
    right: 30px;
    top: -30px;
    bottom: auto;
}

[dir="rtl"] .slick-next {
    right: auto;
    left: -18px;
}

.slick-next:before {
    content: url("../../images/slick-fonts/right.svg");
}

[dir="rtl"] .slick-next:before {
    content: url("../../images/slick-fonts/left.svg");
}


/* Dots */

.slick-dotted.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    font-family: "slick";
    font-size: 6px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    content: "•";
    text-align: center;
    opacity: 0.25;
    color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
    opacity: 0.75;
    color: black;
}

// custom slick
.slick-slider.normal-slick-slider {
    margin: 0 15px;
    .slick-prev {
        right: auto;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
    .slick-next {
        left: auto;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

.home-center-slider {
    .slick-slide {
        padding: 0 5px 60px 5px;
        width: 200px;
        margin-top: 40px;
        @include transition(all,
        0.3s,
        ease-in);
        height: 370px;
    }
    .slick-slide.slick-active.slick-center.slick-current {
        margin: 0;
        @include transition(all,
        0.3s,
        ease-in);
        .customer-card {
            padding-top: 25px;
            background: transparent linear-gradient(rgba(1, 177, 72, 1) 0%, rgb(53, 124, 100) 100%) 0% 0% no-repeat padding-box;
            * {
                color: $white;
            }
            .comma-img {
                display: block;
            }
            .customer-image {
                &::before {
                    background: rgb(53, 124, 100);
                }
            }
        }
    }
}

// reactstrap carousal
.holiday-carousal-container {
    margin-bottom: 15px;
    .carousel-indicators {
        left: 55%;
        right: auto;
        margin-left: 0;
        margin-right: 0;
    }
    .carousel-inner {
        @include box-shadow(0px,
        3px,
        10px,
        rgba(0,
        0,
        0,
        0.1));
    }
    .holiday-carousal {
        min-height: 300px;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        padding-bottom: 50px;
        &::before {
            content: "";
            right: 0;
            top: 0;
            bottom: 0;
            width: 60%;
            background: transparent linear-gradient(-90deg, #0000009e 0%, #0000009e 55%, #00000000 100%) 0% 0% no-repeat padding-box;
            position: absolute;
        }
        .holiday-right {
            margin-left: 55%;
            position: relative;
            padding: 5% 15px 15px 0;
            .btn.btn-danger {
                line-height: 34px;
                margin-bottom: 20px;
            }
            h2 {
                color: $white;
            }
            p {
                color: darken($white, 15%);
            }
            a {
                color: $white;
                font-size: $fs-16;
            }
        }
    }
}